<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register Page</h1><p />

    <form action="/register" method="post">
        <label for="name">Name: </label><p />
        <input type="text" name="name" placeholder="Name..."> <p />

        <label for="username">Username </label><p />
        <input type="username" name="username" placeholder="Username..."> <p />
        
        
        <label for="name">Password: </label><p />
        <input type="password" name="password" placeholder="Password..."> <p /> 

        <input type="submit" name = "submit" value="Register">
    </form>
</body>
</html>